.results {
    display: grid;

}

.character {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--purple);
}

td {
    padding-left: 10px;
    vertical-align: 0px;
    
}

.category {
    text-transform: capitalize;
}

td.category {
    width: 100px
}
